header, footer {
    display: flex;
    align-items: center;
    flex-direction: column;
    margin: auto;
}

.cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }

section {
    margin: 0.25rem;
    padding: 0.35rem;
    background-color: rgb(194, 210, 252);
    border: 1px solid #0a0a0a;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2 {
    color: rgb(118, 1, 87);
}

h2, p {
    margin: 0px 0px 10px 0px;
}

img {
    width: auto;
    max-width: 325px;
    box-shadow: 0 0 10px #777;
    height: 200px;
    border: 1px solid #333;
}