@media only screen and (min-width: 64em) {
    header {
        font-size: 1em;
        width: 80%;
    }

    main {
        grid-template-columns: 1fr 1fr;
        padding-top: 130px;
        font-size: 1.2rem;
    }

   
    footer {
        font-size: 1em;
        width: 80%;
    }

    
  
  }
  