@media only screen and (min-width: 64em) {
	
	header button {
        display: none;
    }

	#buttons {
		grid-row: 2;
		grid-column: 4/5;
		display: flex;
		align-items: center;
	}

    nav {
		background-color: #002868;
		grid-row: 2;
		grid-column: 3/4;
	}
	
	nav ul#primary-nav {
        display: flex;
		margin: 0px;
        justify-content: center;
		background-color: #002868; 
		text-decoration: #03943d underline;
    }

    nav ul li a {
        border: none;
	}
	
	main {
		grid-template-columns: repeat(4, 1fr);
		grid-template-rows: repeat(3, 1fr);
	}
	
	#hero {
		grid-row: 1/3;
		grid-column: 2/4;
	}
	#news {
		grid-row: 3/4;
		grid-column: 2/4;
	}
	.spotsection {
		grid-row: 1/4;
		grid-column: 4/5;
		display: flex;
		flex-direction: column;
	}
	#spot1, #spot2, #spot3 {
		display: block;
	}

	#join {
		grid-row: 3/4;
		grid-column: 1/2;
	}
	#event {
		grid-row: 1/2;
		grid-column: 1/2;
	}
	#weather {
		grid-row: 2/3;
		grid-column: 1/2;
	}	

	

}
  


